/*
Fonts used: "proxima-nova"
Light = font-weight: 300;
Light = font-weight: 600;
*/

html{
    background-color: #101010;    
}

body { 
    margin: 0; 
    margin-left: auto; 
    margin-right: auto;
    max-width: 1000px;
}

#mainContainer {
/*    box-shadow: 5px 0px 5px #888888;*/
    height: 100%;
    max-width: 100%;
/*    overflow: hidden;*/
/*    background-color: #8bb4e0;*/
    background-color: #1f508b;
    padding: 0 2%;
    padding-top: 2%;
    margin-top: -20px;
}

#menu {
    width:100%;
    height: 100%;
}

#logoSmall {
    width: 95%;
    margin:0 2%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#logoLarge {
    width: 95%;
    max-width: 750px;
    margin-top: 2%;
    margin-left: auto;
    margin-right:auto;
    display: none;
}

#smallscreenTitle {
    width: 100%;
    text-align: center;
}

#widescreenTitle {
    display: none;
    float: left;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 2%;
    text-align: center;
}

#kingsContainer {
}

#kingsContainerWide {
    display: none;
}

figure { 
    background-color: black;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

figcaption { 
    display: block;
/*    height:3.5em;*/
    text-align: center;
    margin-top: 0em;
    margin-bottom: em;
    margin-left: 0em;
    margin-right: 0em;
    padding-bottom: 0.2em;
    overflow: hidden;
}


/*
.twoColBox{
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    background-color: black;
}
*/



p{
    color: white;
    font-family: "proxima-nova", Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 8pt;
}

h1{
    color: white;
    font-family: "proxima-nova", Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
    margin-top: 0em;
    margin-bottom: 0px;
}

h2{
    color: white;
    font-family: "proxima-nova", Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
}

h3{
    color: white;
    font-family: "proxima-nova", Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    margin: 0px;
    padding: 2%;
}

h4{
    color: white;
    font-family: "proxima-nova", Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18pt;
}

a:link {
    text-decoration: none;
    color: white;
    font-family: "proxima-nova", Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.flexibox1{
    width: 100%;
    margin-bottom: 2%;
}    

.flexibox2{
    width: 100%;
    margin-bottom: 2%;
}

.flexibox3{
    width: 100%;
    margin-bottom: 2%;
}

.flexibox4{
    width: 100%;
    margin-bottom: 2%;
    float: left;
}

.fadeImg{
    opacity: 0.75;
}

.projectTitle{
    height: 100%;
    width: 107%;
    margin-left: 0%;
    float: left;
    margin-bottom: 2%;
    background-color: #3d7ad4;
}

.projectTitleText{
    text-align: center; 
    padding-top: 0px;
    padding-bottom: 0px;
}

.projectImage{
}

.iconsBox{
    height:100%; 
    position: relative;
    overflow:auto;
}

/*Experiment*/
.triangle-topright {
	width: 0;
	height: 0;
	border-top: 50px solid #123676;
	border-left: 50px solid transparent;
    position: relative;
    float: left;
    top: -19px;
    left: -69px;
    margin-right: -50px;
    display: none;
}

.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 50px solid #123676;
	border-right: 50px solid transparent;
    position: relative;
    top: -19px;
    left: 69px;
    float: right;
    margin-left: -50px;
    display: none;
}

.button {
    height: 100%;
    margin-left: 5%; 
    margin-bottom: 2%;
    float:left;
    width: 90%;
    border: 2px solid;
    border-color: #3d7ad4;
    border-radius:15px;
    background-color: #3d7ad4;
    padding-top: 6px;
    padding-bottom: 0px;
}

.buttonText {

    text-align: center;
}

/*Changes for displays above 480px*/
@media screen and (min-width: 480px){

    /*Hide the small screen logo and diplay the larger screen logo*/
    #logoSmall {
        display: none;
    }
    #logoLarge {
        display: block;
    }
    
/*    Adjust the size of the heading text for bigger screens */
    
    h1{
        font-size: 1.5em;
        line-height: 1.2em;
    }
    
/*    Actually reduce size of h3 so it fits in the 2 column layout boxes*/
    h3{
        font-size: 1em;
    }
    
/*    Sets style for boxes which resize for bigger screens*/

}

/*Changes for displays above 600px*/
@media screen and (min-width: 600px){
    
    .flexibox2{
    width: 49%;
    margin-bottom: 2%;
}    
    
    .flexibox3{
    width: 32%;
    margin-bottom: 2%;
}
    
    .flexibox4{
        width: 50%;
        height: 100%;
        margin-bottom: 2%;
        background-color: #8bb4e0;
    }

}

/*Changes for displays above 800px*/
@media screen and (min-width: 800px){

    
    .flexibox4{
        overflow: hidden;
        width: 23.5%;
        height: 20%;
        margin-bottom: 2%;
        background-color: #8bb4e0;
        float: left;
        margin-right: 2%;
    }

}

@media screen and (min-width:1000px){
    .triangle-topright {
        display: block;
    }
    .triangle-topleft {
        display: block;
    }
    
    .projectTitle{
    height: 100%;
/*    width: 104%; */
    width: 114.3%; 
    float: left;
    margin-bottom: 2%;
    background-color: #3d7ad4;
    margin-left: -7%
    }
}

@media screen and (min-width: 1024px){
    #smallscreenTitle {
        display: none;
    }

    #widescreenTitle {
        display: inline;
    }
    
    #kingsContainer {
        display: none;
    }

    #kingsContainerWide {
        display: inline;
        padding-top: 50px;
    }
    h3{
        font-size: 1.2em;
    }
}
